<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog/bootstrap.css' %}">
</head>
<body>
    <h1 class="text-danger">Edit your account</h1>
    <p>You can edit your account using the following form:</p>
   <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
      <button type="submit">Save changes</button>
    </form>
</body>
</html>