{% load i18n %}
<nav aria-label="Page Navigations">
    <ul style="flex-direction: row-reverse">
        {% if not page_obj.has_previous %}
             <li disabled><span>{% trans 'Next' %}</span></li>
        {% else %}
            <li ><a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                 <li class="page-item active">
                      <span>{{ i }}<span>(current)</span></span>
                {% else %}
                 <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if not page_obj.has_next %}
            <li ><span class="page-link">{% trans 'Next' %}</span></li>
        {% else %}
            <li><a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>
        {% endif %}
    </ul>
</nav>